// =====================================================
// Box
// =====================================================
// "We style it because the built-in is suck"

$box-prefix: "box" !default;

.#{$box-prefix} {
    box-sizing: border-box;
    border-collapse: separate;

    &__header {
        border: 1px solid map-get($global-color-box-header, foreground);
        border-bottom: 0;
        border-top-right-radius: $global-border-radius;
        border-top-left-radius: $global-border-radius;

        background: map-get($global-color-box-header, background);
        color: $global-color-text;

        font-size: map-get($global-font-size, medium);
        font-weight: bold;
        text-align: left;

        padding: $theme-box-padding;

        position: relative;
    }

    &__header-close {
        position: absolute;

        top: $theme-box-padding;
        right: $theme-box-padding;
    }

    &__content {
        border: 1px solid map-get($global-color-box-header, foreground);
        border-radius: $global-border-radius;

        background: map-get($global-color-box-content, background);
        color: $global-color-text;

        font-size: map-get($global-font-size, medium);

        padding: $theme-box-padding;
    }

    &__header ~ &__content {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    &__separator {
        display: block;

        background: map-get($global-color-box-header, foreground);

        margin-top: $theme-box-padding;
        margin-bottom: $theme-box-padding;
        margin-left: -10px;
        padding-right: 20px;

        width: 100%;
        height: 1px;
    }
}

.#{$box-prefix}--danger {
    .#{$box-prefix}__header {
        border-color: map-get($global-color-box-header-danger, foreground);

        background: map-get($global-color-box-header-danger, background);
        color: $global-color-box-text;
    }
}
