.#{$button-prefix}-contextual {
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: .5;
    transition: opacity .15s ease-out;
    font-size: 3 * map-get($theme-font-size, xx-large);
    color: $green;

    &:hover {
        opacity: 1;
    }

    &--top {
        top: 20px;
        bottom: initial;
    }

    &--super {
        z-index: 9999;
    }
}

.#{$button-prefix}[disabled].#{$button-prefix}--icon {
    border: 0;
    background: 0;
    color: initial;
}
