// =====================================================
// Dropdown
// =====================================================
// "We style it because the built-in is suck"

$dropdown-prefix: "dropdown" !default;
$dropdown-font-size: map-get($global-font-size, medium) !default;
$dropdown-item-margin-hz: -1 * calc-button-padding-hz($dropdown-font-size);

.#{$dropdown-prefix} {
    @include border($global-border-size,
		            $global-border-style,
		            map-get($global-color-button-disabled, foreground),
		            $global-border-radius);

    list-style: none;

    font-family : $global-font-family;
    font-size   : map-get($global-font-size, medium);

    letter-spacing : $global-letter-spacing;
    word-spacing   : $global-word-spacing;

    background: $global-color-dropdown-background;

    margin: 10px 0;
    padding: 0;

    min-width: 100%;
    max-width: 150%;

    position: absolute;
    top: 100%;
    left: 0;

    z-index: 1;

    display: none;

    &.is-dropped {
        display: block;
    }

    // -------------------------------------------
    // Size Variants
    // -------------------------------------------

    &--small {
        @include button-padding(map-get($global-font-size, small));
        font-size : map-get($global-font-size, small);
    }

    &--large {
        @include button-padding(map-get($global-font-size, large));
        font-size : map-get($global-font-size, large);
    }

    &--x-large {
        @include button-padding(map-get($global-font-size, x-large));
        font-size : map-get($global-font-size, x-large);
    }

    // -------------------------------------------
    // Position Variants
    // -------------------------------------------

    &--right {
        left: initial;
        right: 0;
    }

    &--top {
        top: initial;
        bottom: 100%;
    }
}

.#{$dropdown-prefix}__item {
    @include button-padding($dropdown-font-size);

    &:first-child {
        border-top-left-radius: $global-border-radius;
        border-top-right-radius: $global-border-radius;
    }

    &:last-child {
        border-bottom-left-radius: $global-border-radius;
        border-bottom-right-radius: $global-border-radius;
    }

    &:hover {
        cursor: pointer;
        background: $global-color-dropdown-item-hover;
    }

    &__item-title {
        font-weight: bold;
    }
}
