// =====================================================
// Field
// =====================================================
// "We style it because the built-in is suck"

$field-prefix: "field";

.#{$field-prefix} {
    font-family: $global-font-family;

    margin-bottom: map-get($global-font-size, medium);

    display: block;
}

.#{$field-prefix}__label {
    font-size: map-get($global-font-size, medium);
    text-align: left;

    color: $global-color-text;

    margin-bottom: 2px;

    display: block;
}

.#{$field-prefix}__input,
.#{$field-prefix}__select {
    @include border($global-border-size,
		            $global-border-style,
                    $global-border-color,
		            $global-border-radius);

    font-size: map-get($global-font-size, medium);
    font-family: $global-font-family;

    color: $global-color-text;
    background: $global-color-field-background;

    letter-spacing: $global-letter-spacing;
    word-spacing: $global-word-spacing;

    padding: map-get($global-field-input-padding, medium);
    width: 100%;
    height: field-height(map-get($global-font-size, medium),
                         $global-border-size,
                         map-get($global-field-input-padding, medium));
    box-sizing: border-box;

    transition: border .25s ease-out;

    display: block;

    &:active,
    &:focus {
        border-color: $global-field-input-active-color;
        outline: none;
    }

    &--large {
        font-size: map-get($global-font-size, large);
        padding: map-get($global-field-input-padding, large);
        height: field-height(map-get($global-font-size, large),
                             $global-border-size,
                             map-get($global-field-input-padding, large));
    }

    &--x-large {
        font-size: map-get($global-font-size, x-large);
        padding: map-get($global-field-input-padding, x-large);
        height: field-height(map-get($global-font-size, x-large),
                             $global-border-size,
                             map-get($global-field-input-padding, x-large));
    }

    &--hero {
        font-size: map-get($global-font-size, hero);
        padding: map-get($global-field-input-padding, x-large);
        height: field-height(map-get($global-font-size, hero),
                             $global-border-size,
                             map-get($global-field-input-padding, x-large));
    }

    .is-error & {
        border-color: $global-field-input-error-color;
    }
}

.#{$field-prefix}__select {
    // we must replace this svg because we have no permission to use it commercially
    background: $global-color-field-background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAYCAYAAAC8/X7cAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADQSURBVFiF1c+7ccMwFEXBZS0oUqGgzE2+WqzE9li2KOIrkncGAZDg7BIRF3w45/ICJ0XklNJt+b6dDJFTSjdYfr+eBPETzx8Ah0c8xPMEwGER/+JZAXA4xNN4XgA4DGI1ng0AuyNexlMAYDfEZjyFAN6OKIqnAsDbEMXxVAKYjqiKpwHANER1PI0AhiOa4ukAMAzRHE8ngG5EVzwDADQjuuMZBKAaMSSegQCKEcPiGQxgEzE0ngkAVhHD46cuIi4R8fl1rnv3NC0ickTkmX/cAeicgKu/i7a4AAAAAElFTkSuQmCC") no-repeat right 8px center;
    background-size: 12px 6px;
    appearance: none;
}

.#{$field-prefix}__input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;

    & > .#{$field-prefix}__input,
    & > .#{$field-prefix}__select,
    & > .#{$field-prefix}__input-addon {
        display: table-cell;
    }

    & .#{$field-prefix}__input:not(:first-child):not(:last-child),
    & .#{$field-prefix}__select:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    & .#{$field-prefix}__input:first-child,
    & .#{$field-prefix}__select:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    & .#{$field-prefix}__input:last-child,
    & .#{$field-prefix}__select:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.#{$field-prefix}__input-addon {
    @include border($global-border-size,
		            $global-border-style,
                    $global-border-color,
		            $global-border-radius);

    background : map-get($global-color-button-common-normal, background);
    color      : map-get($global-color-button-common-normal, foreground);

    line-height: 1;
    text-align: center;

    padding: map-get($global-field-input-padding, medium);
    box-sizing: border-box;
    width: 1%;

    &:hover {
        cursor: pointer;
        background : map-get($global-color-button-common-hover, background);
    }

    &:first-child {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:last-child {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &--large {
        font-size: map-get($global-font-size, large);
        padding: map-get($global-field-input-padding, large);
    }

    &--x-large {
        font-size: map-get($global-font-size, x-large);
        padding: map-get($global-field-input-padding, x-large);
    }
}

.#{$field-prefix}__error-message {
    font-size: map-get($global-font-size, small);
    font-family: $global-font-family;

    color: $global-field-input-error-color;

    margin-top: 2px;
    margin-bottom: 0;

    display: none;

    .is-error & {
        display: block;
    }
}
