// =====================================================
// Inline Page
// =====================================================
// "We style it because the built-in is suck"

$ipage-prefix: "ipage" !default;

.#{$ipage-prefix} {
    position: fixed;
    top: 0;
    left: 100%;
    background-color: $global-color-background;
    transition: all .15s ease-out;

    &--right {
        right: 100%;
        left: initial;

        &.is-open {
            right: 0;
        }
    }

    &--top {
        top: initial;
        bottom: 100%;

        &.is-open {
            bottom: 0;
        }
    }

    &--bottom {
        top: 100%;

        &.is-open {
            top: 0;
        }
    }

    &.is-open {
        left: 0;
    }
}
