// =====================================================
// Sidebar
// =====================================================
// "We style it because the built-in is suck"

$sidebar-prefix: "sidebar" !default;

.#{$sidebar-prefix} {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: $theme-sidebar-width;
    padding: $theme-sidebar-padding;
}
