// ===========================================
// Border - Default Theme
// ===========================================

$theme-border-size: 1px;
$theme-border-style: solid;
$theme-border-radius: 3px;
$theme-border-color: $gray;
