// ===========================================
// Typography - Default Theme
// ==========================================

$theme-font-family: "Helvetica", Arial, Serif;

// All values should be even number
$theme-font-size: (
    small: 12px,
    medium: 14px,
    large: 18px,
    x-large: 20px,
    xx-large: 22px,
    hero: 150px
);

$theme-line-height: (
  small: 1.4,
  medium: 1.4,
  large: 1.2,
  x-large: 1.2,
  xx-large: 1.2
);

$theme-letter-spacing: 0;

$theme-word-spacing: 1px;
