// ==============================================================
// Color Settings
// ==============================================================
// You should declare list of colors on theme folder,
// then include it on app.scss

$global-use-theme: false !default;

@if ($global-use-theme == false) {
    @error "You should import a theme, otherwise it will not work!";
}

// -------------------------------------------
// Elements
// -------------------------------------------

$global-color-text: $theme-color-text;
$global-color-background: $theme-color-background;
$global-color-success: $theme-color-success;

// -------------------------------------------
// Component
// -------------------------------------------

// Link
$global-color-link-cta-normal: $theme-color-link-cta-normal;
$global-color-link-cta-hover: $theme-color-link-cta-hover;

// Button
$global-color-button-disabled: $theme-color-button-disabled;
$global-color-button-common-normal: $theme-color-button-common-normal;
$global-color-button-common-hover: $theme-color-button-common-hover;
$global-color-button-cta-normal: $theme-color-button-cta-normal;
$global-color-button-cta-hover: $theme-color-button-cta-hover;
$global-color-button-inverse-cta-normal: $theme-color-button-inverse-cta-normal;
$global-color-button-inverse-cta-hover: $theme-color-button-inverse-cta-hover;

// Box
$global-color-box-header: $theme-color-box-header;
$global-color-box-header-danger: $theme-color-box-header-danger;
$global-color-box-content: $theme-color-box-content;
$global-color-box-text: $theme-color-box-text;

// Notification
$global-color-notif-success: $theme-color-notif-success;
$global-color-notif-error: $theme-color-notif-error;
$global-color-notif-warning: $theme-color-notif-warning;
$global-color-notif-text: $theme-color-notif-text;

// Dropdown
$global-color-dropdown-item-hover: $theme-color-dropdown-item-hover;
$global-color-dropdown-background: $theme-color-dropdown-background;

// Field
$global-color-field-background: $theme-color-field-background;
