// ==============================================================
// Component Settings
// ==============================================================
// You should declare list of component settings on theme folder,
// then include it on app.scss

$global-use-theme: false !default;

@if ($global-use-theme == false) {
    @error "You should import a theme, otherwise it will not work!";
}

// -------------------------------------------
// Icon
// -------------------------------------------

$global-icon-font-family: $theme-icon-font-family;
$global-icon-dropdown: $ionicon-var-android-arrow-dropdown;

// -------------------------------------------
// Button
// -------------------------------------------

$global-button-font-weight: $theme-button-font-weight;

// -------------------------------------------
// Field
// -------------------------------------------

$global-field-input-padding: $theme-field-input-padding;
$global-field-input-error-color: $theme-field-input-error-color;
$global-field-input-active-color: $theme-field-input-active-color;
$global-field-input-active-box-shadow: $theme-field-input-active-box-shadow;

// -------------------------------------------
// Box
// -------------------------------------------

$global-box-padding: $theme-box-padding;

// -------------------------------------------
// Notification
// -------------------------------------------

$global-notif-padding: $theme-notif-padding;
