// =================================================================
// Typography Settings
// =================================================================
// You should declare list of typography settings on theme folder,
// then include it on app.scss

$global-use-theme: false !default;

@if ($global-use-theme == false) {
    @error "You should import a theme, otherwise it will not work!";
}

$global-font-family: $theme-font-family;
$global-font-size: $theme-font-size;
$global-line-height: $theme-line-height;
$global-letter-spacing: $theme-letter-spacing;
$global-word-spacing: $theme-word-spacing;
