// =================================================================
// Typography Settings
// =================================================================
// You should declare list of typography settings on theme folder,
// then include it on app.scss

$global-use-theme: false !default;

@if ($global-use-theme == false) {
    @error "You should import a theme, otherwise it will not work!";
}

$theme-font-size: (
    small: 12px,
    medium: 14px,
    large: 18px,
    x-large: 20px,
    xx-large: 22px,
    hero: 150px
);

$theme-line-height: (
    small: 1.4,
    medium: 1.4,
    large: 1.2,
    x-large: 1.2,
    xx-large: 1.2,
    hero: 1.2
);

$theme-font-family: "Helvetica", Arial, Sans-serif !important;

$ionicons-font-path: "/typefaces";
