.gr-12.ipage.js-chart
  div(data-module='clock-action')
    .btn-contextual.btn-contextual--top.btn.btn--icon.i-arrow-right-c(data-type='clock-action-chart-close')
  canvas(data-module='clock-chart')
