.js-timer-input(data-module='clock-action')
  input.field__input.js-timer-hour(type='text', value='00', maxlength='2', data-type='input-zeroed', style='font-size: 150px; height: 180px; border: 0px none; font-weight: bold; padding: 0; width: 166px; float: left;')
  span(style='font-size: 150px; font-weight: bold; line-height: 1.2; float: left;') :
  input.field__input.js-timer-minute(type='text', value='00', maxlength='2', data-type='input-zeroed', style='font-size: 150px; height: 180px; border: 0px none; font-weight: bold; padding: 0; width: 166px; float: left;')
  span(style='font-size: 150px; font-weight: bold; line-height: 1.2; float: left;') :
  input.field__input.js-timer-second(type='text', value='00', maxlength='2', data-type='input-zeroed', style='font-size: 150px; height: 180px; border: 0px none; font-weight: bold; padding: 0; width: 166px; float: left;')
