ul.sidebar.sidebar--super.js-menu
  li.sidebar__item(data-type='clock-action-chart').
    #[i.i-arrow-graph-up-right.sidebar__item-icon]
    Trends Chart
  li.sidebar__item(data-type='clock-action-setting').
    #[i.i-wrench.sidebar__item-icon]
    Settings
  li.sidebar__item(data-type='clock-action-menu-close') Close
