.btn-group
  button.btn.btn--common.js-clock-action-start(data-type='clock-action-start') Start
  button.btn.btn--common.js-clock-action-resume(disabled='disabled', data-type='clock-action-resume') Resume
  button.btn.btn--common.js-clock-action-pause(disabled='disabled', data-type='clock-action-pause') Pause
  button.btn.btn--common.js-clock-action-reset(disabled='disabled', data-type='clock-action-reset') Reset
.btn-contextual.btn.btn--icon.i-archive.js-clock-action-save(disabled='disabled', data-type='clock-action-save')
.btn-contextual.btn-contextual--top.btn.btn--icon.i-navicon-round.js-menu-btn(data-type='clock-action-menu')
