doctype html
html(lang='en')
  head
    title Work Timer
    link(href='assets/css/app.css', rel='stylesheet')
  body
    .container(data-module='container')
      .row(style='margin-top: 12.5%')
        .gr-6.gr-centered
          include _clock-display.pug
          include _clock-input.pug
        .gr-12.u-text--centered(data-module='clock-action')
          include _clock-controls.pug
          include _clock-sidemenu.pug
        include _clock-chart.pug
        include _clock-settings.pug
    .notif(data-module='flash')
      span.notif__content.js-notif-content
      span.notif__action
        i.i-close(data-type='flash-close')
    script(src='assets/js/app.min.js', type="text/javascript")
