// ===========================================
// Field - Default Theme
// ==========================================

$theme-field-input-padding: (
    small: 2px 3px,
    medium: 3px 5px,
    large: 5px 8px,
    x-large: 8px 13px
);

$theme-field-input-error-color: $pink;

$theme-field-input-active-color: $bright-blues;

// TODO: use theme color instead
$theme-field-input-active-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 5px rgba(81, 167, 232, .5);
