// =====================================================
// HTML Element Style
// =====================================================
// We need to style it because we don't like the default

html {
    min-height: 100%; // always fill entire viewport height at minimum
    color: $global-color-text;
    background-color: $global-color-background;
    font-family: $global-font-family;
    font-size: map-get($global-font-size, medium);
    line-height: map-get($global-line-height, medium);
    letter-spacing: $global-letter-spacing;
    overflow-y: scroll; // always show scrollbar
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $global-font-family;
}
