// =====================================================
// Image Element Style
// =====================================================
// We need to style it because we don't like the default

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
