// ===========================================
// Config
// ===========================================
// See how it has the same structure as main
// framework?

$global-use-theme: true; // set to use theme
$theme-max-breakpoint: 100%;

// Exclude components you want to use
$theme-card-enable: false;
$theme-dropdown-enable: false;
$theme-modal-enable: false;
$theme-notification-enable: false;
$theme-post-enable: false;
$theme-quote-enable: false;
$theme-topbar-enable: false;
$theme-tree-enable: false;

@import "base/typography";

// If you want to modify, please add below before
// import ayu

@import "components/box";

@import "ayu";

// If you want to extend, please add it below
@import "components/button";
@import "elements/body";
@import "utilities/text";
