// =====================================================
// Button Tools
// =====================================================

// Calculate padding vertical
// @param {px} $font-size
// @return px
@function calc-button-padding-vr($font-size) {
    @return $font-size / 2;
}

// Calculate padding horizontal
// @param {px} $font-size
// @return px
@function calc-button-padding-hz($font-size) {
    @return $font-size / 2 * 3;
}


// Calculate padding based on font-size
// @param {px} $font-size
// @return padding shorthand;
@mixin button-padding($font-size) {
    $tb: calc-button-padding-vr($font-size);
    $lr: calc-button-padding-hz($font-size);
    padding: $tb $lr;
}
